/* 
 * Fluo 16
 * A simple, responsive fixed-width grid with a 16 unit preset.
 * https://github.com/johnsolarz/fluogrid
 * Copyright 2012 8/7 Central
 */
 

/* =============================================================================
   The Grid System
   ========================================================================== */

/*
 * 1. Grid defines the layout area. Modify widths inside media quieries as required.
 * 2. Columns are made up of a number of units. Set gutter margins here.
 * 3. Rows are horizontal divisions of similar content.
 */

.grid { margin: 0 auto; position: relative; }
.column { display: inline; float: left; margin-left: 10px; margin-right: 10px; }
.row { margin-bottom: 1.5em; }

/* Nested columns */
.alpha { margin-left: 0; }
.omega { margin-right: 0; }

/* Push pull columns */
.push-one,    .pull-one,    .push-two,    .pull-two,
.push-three,  .pull-three,  .push-four,   .pull-four,
.push-five,   .pull-five,   .push-six,    .pull-six,
.push-seven,  .pull-seven,  .push-eight,  .pull-eight,
.push-nine,   .pull-nine,   .push-ten,    .pull-ten,
.push-eleven, .pull-eleven, .push-twelve, .pull-twelve { position: relative; }

/* Non-structural helper classes */
.center { text-align: center; }
.inset { padding: 1.5em; }
.wide { width: 100%; }

/* Micro clearfix hack */
.grid:before, .grid:after, .row:before, .row:after { content: ""; display: table; }
.grid:after, .row:after { clear: both; }
.grid, .row { *zoom: 1; }


/* =============================================================================
   Primary ('mobile first') styles
   ========================================================================== */
















/* =============================================================================
   Mobile portrait
   ========================================================================== */

@media only screen and (max-width: 767px) {

  /* One 300px column, no guters */
	.grid                  { width: 300px; }
	.column                { margin-left: 0; margin-right: 0; }

	/* Units */
	.grid .one,
	.grid .two,
	.grid .three,
	.grid .four,
	.grid .five,
	.grid .six,
	.grid .seven,
	.grid .eight,
	.grid .nine,
	.grid .ten,
	.grid .eleven,
	.grid .twelve,
	.grid .thirteen,
	.grid .fourteen,
	.grid .fifteen,
	.grid .sixteen         { width: 300px; }

}


/* =============================================================================
   Mobile landscape
   ========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  /* One 420px column, no gutters */
	.grid                  { width: 420px; }
	.column                { margin-left: 0; margin-right: 0; }

	/* Units */
	.grid .one,
	.grid .two,
	.grid .three,
	.grid .four,
	.grid .five,
	.grid .six,
	.grid .seven,
	.grid .eight,
	.grid .nine,
	.grid .ten,
	.grid .eleven,
	.grid .twelve,
	.grid .thirteen,
	.grid .fourteen,
	.grid .fifteen,
	.grid .sixteen         { width: 420px; }

}


/* =============================================================================
   Tablet 
   ========================================================================== */
   
@media only screen and (min-width: 768px) { 

	/* Sixteen 25px units, 10px gutters */
	.grid                  { width: 720px; }

	/* Units */
	.grid .one             { width: 25px;  }
	.grid .two             { width: 70px;  }
	.grid .three           { width: 115px; }
	.grid .four            { width: 160px; }
	.grid .five            { width: 205px; }
	.grid .six             { width: 250px; }
	.grid .seven           { width: 295px; }
	.grid .eight           { width: 340px; }
	.grid .nine            { width: 385px; }
	.grid .ten             { width: 430px; }
	.grid .eleven          { width: 475px; }
	.grid .twelve          { width: 520px; }
	.grid .thirteen        { width: 565px; }
	.grid .fourteen        { width: 610px; }
	.grid .fifteen         { width: 655px; }
	.grid .sixteen         { width: 700px; }

	/* Offsets */
	.grid .offset-one      { padding-left: 45px;  }
	.grid .offset-two      { padding-left: 90px;  }
	.grid .offset-three    { padding-left: 135px; }
	.grid .offset-four     { padding-left: 180px; }
 	.grid .offset-five     { padding-left: 225px; }
 	.grid .offset-six      { padding-left: 270px; }
	.grid .offset-seven    { padding-left: 315px; }
	.grid .offset-eight    { padding-left: 360px; }
	.grid .offset-nine     { padding-left: 405px; }
	.grid .offset-ten      { padding-left: 450px; }
	.grid .offset-eleven   { padding-left: 495px; }
	.grid .offset-twelve   { padding-left: 540px; }
	.grid .offset-thirteen { padding-left: 585px; }
	.grid .offset-fourteen { padding-left: 630px; }
	.grid .offset-fifteen  { padding-left: 675px; }

	/* Push columns */
	.grid .push-one        { left: 45px;  }
	.grid .push-two        { left: 90px;  }
	.grid .push-three      { left: 135px; }
	.grid .push-four       { left: 180px; }
 	.grid .push-five       { left: 225px; }
 	.grid .push-six        { left: 270px; }
	.grid .push-seven      { left: 315px; }
	.grid .push-eight      { left: 360px; }
	.grid .push-nine       { left: 405px; }
	.grid .push-ten        { left: 450px; }
	.grid .push-eleven     { left: 495px; }
	.grid .push-twelve     { left: 540px; }
	.grid .push-thirteen   { left: 585px; }
	.grid .push-fourteen   { left: 630px; }
	.grid .push-fifteen    { left: 675px; }

	/* Push columns */
	.grid .pull-one        { left: -45px;  }
	.grid .pull-two        { left: -90px;  }
	.grid .pull-three      { left: -135px; }
	.grid .pull-four       { left: -180px; }
 	.grid .pull-five       { left: -225px; }
 	.grid .pull-six        { left: -270px; }
	.grid .pull-seven      { left: -315px; }
	.grid .pull-eight      { left: -360px; }
	.grid .pull-nine       { left: -405px; }
	.grid .pull-ten        { left: -450px; }
	.grid .pull-eleven     { left: -495px; }
	.grid .pull-twelve     { left: -540px; }
	.grid .pull-thirteen   { left: -585px; }
	.grid .pull-fourteen   { left: -630px; }
	.grid .pull-fifteen    { left: -675px; }

  /* Style adjustments for 720px layouts */

}


/* =============================================================================
   Landscape Tablet/Laptop
   ========================================================================== */

@media only screen and (min-width: 1024px) {

	/* Sixteen 40px units, 10px gutters */
	.grid                  { width: 960px; }

	/* Units */
	.grid .one             { width: 40px;  }
	.grid .two             { width: 100px; }
	.grid .three           { width: 160px; }
	.grid .four            { width: 220px; }
	.grid .five            { width: 280px; }
	.grid .six             { width: 340px; }
	.grid .seven           { width: 400px; }
	.grid .eight           { width: 460px; }
	.grid .nine            { width: 520px; }
	.grid .ten             { width: 580px; }
	.grid .eleven          { width: 640px; }
	.grid .twelve          { width: 700px; }
	.grid .thirteen        { width: 760px; }
	.grid .fourteen        { width: 820px; }
	.grid .fifteen         { width: 880px; }
	.grid .sixteen         { width: 940px; }

	/* Offsets */
	.grid .offset-one      { padding-left: 60px;  }
	.grid .offset-two      { padding-left: 120px; }
	.grid .offset-three    { padding-left: 180px; }
	.grid .offset-four     { padding-left: 240px; }
	.grid .offset-five     { padding-left: 300px; }
	.grid .offset-six      { padding-left: 360px; }
	.grid .offset-seven    { padding-left: 420px; }
	.grid .offset-eight    { padding-left: 480px; }
	.grid .offset-nine     { padding-left: 540px; }
	.grid .offset-ten      { padding-left: 600px; }
	.grid .offset-eleven   { padding-left: 660px; }
	.grid .offset-twelve   { padding-left: 720px; }
	.grid .offset-thirteen { padding-left: 780px; }
	.grid .offset-fourteen { padding-left: 840px; }
	.grid .offset-fifteen  { padding-left: 900px; }

	/* Push columns */
	.grid .push-one        { left: 60px;  }
	.grid .push-two        { left: 120px; }
	.grid .push-three      { left: 180px; }
	.grid .push-four       { left: 240px; }
	.grid .push-five       { left: 300px; }
	.grid .push-six        { left: 360px; }
	.grid .push-seven      { left: 420px; }
	.grid .push-eight      { left: 480px; }
	.grid .push-nine       { left: 540px; }
	.grid .push-ten        { left: 600px; }
	.grid .push-eleven     { left: 660px; }
	.grid .push-twelve     { left: 720px; }
	.grid .push-thirteen   { left: 780px; }
	.grid .push-fourteen   { left: 840px; }
	.grid .push-fifteen    { left: 900px; }

	/* Pull columns */
	.grid .pull-one        { left: -60px;  }
	.grid .pull-two        { left: -120px; }
	.grid .pull-three      { left: -180px; }
	.grid .pull-four       { left: -240px; }
	.grid .pull-five       { left: -300px; }
	.grid .pull-six        { left: -360px; }
	.grid .pull-seven      { left: -420px; }
	.grid .pull-eight      { left: -480px; }
	.grid .pull-nine       { left: -540px; }
	.grid .pull-ten        { left: -600px; }
	.grid .pull-eleven     { left: -660px; }
	.grid .pull-twelve     { left: -720px; }
	.grid .pull-thirteen   { left: -780px; }
	.grid .pull-fourteen   { left: -840px; }
	.grid .pull-fifteen    { left: -900px; }

  /* Style adjustments for 960px layouts */

}


/* =============================================================================
   Desktop
   ========================================================================== */

@media only screen and (min-width: 1280px) {
  
}


/* =============================================================================
   Widescreen
   ========================================================================== */

@media only screen and (min-width: 1400px) {

}

