/* 
 * Grid 12
 * A simple fixed-width grid with a 12 unit preset.
 * https://github.com/johnsolarz/fluogrid
 * Copyright 2012 8/7 Central
 */


/* =============================================================================
   The Grid System
   ========================================================================== */

/*
 * 1. Grid defines the layout area. Twelve 60px units, 10px gutters = 960px.
 * 2. Columns are made up of a number of units. Set gutter margins here.
 * 3. Rows are horizontal divisions of similar content.
 */

.grid { margin: 0 auto; position: relative; width: 960px; }
.column { display: inline; float: left; margin-left: 10px; margin-right: 10px; }
.row { margin-bottom: 1.5em; }

/* Nested columns */
.alpha { margin-left: 0; }
.omega { margin-right: 0; }

/* Push pull columns */
.push-one,    .pull-one,    .push-two,    .pull-two,
.push-three,  .pull-three,  .push-four,   .pull-four,
.push-five,   .pull-five,   .push-six,    .pull-six,
.push-seven,  .pull-seven,  .push-eight,  .pull-eight,
.push-nine,   .pull-nine,   .push-ten,    .pull-ten,
.push-eleven, .pull-eleven, .push-twelve, .pull-twelve { position: relative; }

/* Non-structural helper classes */
.center { text-align: center; }
.inset { padding: 1.5em; }
.wide { width: 100%; }

/* Micro clearfix hack */
.grid:before, .grid:after, .row:before, .row:after { content: ""; display: table; }
.grid:after, .row:after { clear: both; }
.grid, .row { *zoom: 1; }


/* Units */
.grid .one             { width: 60px;  }
.grid .two             { width: 140px; }
.grid .three           { width: 220px; }
.grid .four            { width: 300px; }
.grid .five            { width: 380px; }
.grid .six             { width: 460px; }
.grid .seven           { width: 540px; }
.grid .eight           { width: 620px; }
.grid .nine            { width: 700px; }
.grid .ten             { width: 780px; }
.grid .eleven          { width: 860px; }
.grid .twelve          { width: 940px; }

/* Offsets */
.grid. offset-one      { padding-left: 80px;  }
.grid .offset-two      { padding-left: 160px; }
.grid .offset-three    { padding-left: 240px; }
.grid .offset-four     { padding-left: 320px; }
.grid .offset-five     { padding-left: 400px; }
.grid .offset-six      { padding-left: 480px; }
.grid .offset-seven    { padding-left: 560px; }
.grid .offset-eight    { padding-left: 640px; }
.grid .offset-nine     { padding-left: 720px; }
.grid .offset-ten      { padding-left: 800px; }
.grid .offset-eleven   { padding-left: 880px; }
	
/* Push columns */
.grid .push-one        { left: 80px;  }
.grid .push-two        { left: 160px; }
.grid .push-three      { left: 240px; }
.grid .push-four       { left: 320px; }
.grid .push-five       { left: 400px; }
.grid .push-six        { left: 480px; }
.grid .push-seven      { left: 560px; }
.grid .push-eight      { left: 640px; }
.grid .push-nine       { left: 720px; }
.grid .push-ten        { left: 800px; }
.grid .push-eleven     { left: 880px; }

/* Pull columns */
.grid .pull-one        { left: -80px;  }
.grid .pull-two        { left: -160px; }
.grid .pull-three      { left: -240px; }
.grid .pull-four       { left: -320px; }
.grid .pull-five       { left: -400px; }
.grid .pull-six        { left: -480px; }
.grid .pull-seven      { left: -560px; }
.grid .pull-eight      { left: -640px; }
.grid .pull-nine       { left: -720px; }
.grid .pull-ten        { left: -800px; }
.grid .pull-eleven     { left: -880px; }
