/*! grid-responsive.css | https://github.com/johnsolarz/layout */

/*
 * Breakpoints:
 *
 *    320px  / Mobile portrait to landscape               - Single column @ 300
 *    480px  / Mobile landscape to tablet portrait        - Single column @ 460
 *    768px  / Tablet portrait to landscape and desktop   - Twelve columns @ 44
 *    980px  / Default tablet and desktop in layout.css   - Twelve columns @ 60
 *    1200px / Large desktop to widescreen                - Twelve columns @ 80
 *    1920px / Widescreen HD and up                       - Twelve columns @ 140
 */

/* ==========================================================================
   Flexible images and media
   ========================================================================== */

img,
object,
embed,
video {
    height: auto;
    max-width: 100%;
}

/* ==========================================================================
   Mobile all
   ========================================================================== */

@media screen and (max-width: 767px) {
    .column {
        float: none;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    [class*="offset"] {
        padding-left: 0;
    }
}

/* ==========================================================================
   320px / Mobile portrait to landscape
   ========================================================================== */

@media screen and (max-width: 479px) {
    .container {
        width: 300px;
    }
}

/* ==========================================================================
   480px / Mobile landscape to tablet portrait
   ========================================================================== */

@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 460px;
    }
}

/* ==========================================================================
   768px / Tablet portrait to landscape and desktop
   ========================================================================== */

@media screen and (min-width: 768px) and (max-width: 979px) {
    .container {
        width: 744px;
    }
    .column {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 42px;
    }
    .offset-one {
        padding-left: 62px;
    }
    .two {
        width: 104px;
    }
    .offset-two {
        padding-left: 124px;
    }
    .three {
        width: 166px;
    }
    .offset-three {
        padding-left: 186px;
    }
    .four {
        width: 228px;
    }
    .offset-four {
        padding-left: 248px;
    }
    .five {
        width: 290px;
    }
    .offset-five {
        padding-left: 310px;
    }
    .six {
        width: 352px;
    }
    .offset-six {
        padding-left: 372px;
    }
    .seven {
        width: 414px;
    }
    .offset-seven {
        padding-left: 434px;
    }
    .eight {
        width: 476px;
    }
    .offset-eight {
        padding-left: 496px;
    }
    .nine {
        width: 538px;
    }
    .offset-nine {
        padding-left: 558px;
    }
    .ten {
        width: 600px;
    }
    .offset-ten {
        padding-left: 620px;
    }
    .eleven {
        width: 662px;
    }
    .offset-eleven {
        padding-left: 682px;
    }
    .twelve {
        width: 724px;
    }
    .one-fifth {
        width: 128px;
    }
    .offset-one-fifth {
        padding-left: 148px;
    }
    .two-fifths {
        width: 277px;
    }
    .offset-two-fifths {
        padding-left: 297px;
    }
    .three-fifths {
        width: 426px;
    }
    .offset-three-fifths {
        padding-left: 446px;
    }
    .four-fifths {
        width: 575px;
    }
    .offset-four-fifths {
        padding-left: 595px;
    }
    .five-fifths {
        width: 724px;
    }
}

/* ==========================================================================
   1200px / Large desktop to widescreen
   ========================================================================== */

@media screen and (min-width: 1200px) {
    .hd,
    .dt {
        width: 1200px;
    }
    .hd .column,
    .dt .column {
        width: 80px;
    }
    .hd .offset-one,
    .dt .offset-one {
        padding-left: 100px;
    }
    .hd .two,
    .dt .two {
        width: 180px;
    }
    .hd .offset-two,
    .dt .offset-two {
        padding-left: 200px;
    }
    .hd .three,
    .dt .three {
        width: 280px;
    }
    .hd .offset-three,
    .dt .offset-three {
        padding-left: 300px;
    }
    .hd .four,
    .dt .four {
        width: 380px;
    }
    .hd .offset-four,
    .dt .offset-four {
        padding-left: 400px;
    }
    .hd .five,
    .dt .five {
        width: 480px;
    }
    .hd .offset-five,
    .dt .offset-five {
        padding-left: 500px;
    }
    .hd .six,
    .dt .six {
        width: 580px;
    }
    .hd .offset-six,
    .dt .offset-six {
        padding-left: 600px;
    }
    .hd .seven,
    .dt .seven {
        width: 680px;
    }
    .hd .offset-seven,
    .dt .offset-seven {
        padding-left: 700px;
    }
    .hd .eight,
    .dt .eight {
        width: 780px;
    }
    .hd .offset-eight,
    .dt .offset-eight {
        padding-left: 800px;
    }
    .hd .nine,
    .dt .nine {
        width: 880px;
    }
    .hd .offset-nine,
    .dt .offset-nine {
        padding-left: 900px;
    }
    .hd .ten,
    .dt .ten {
        width: 980px;
    }
    .hd .offset-ten,
    .dt .offset-ten {
        padding-left: 1000px;
    }
    .hd .eleven,
    .dt .eleven {
        width: 1080px;
    }
    .hd .offset-eleven,
    .dt .offset-eleven {
        padding-left: 1100px;
    }
    .hd .twelve,
    .dt .twelve {
        width: 1180px;
    }
    .hd .one-fifth,
    .dt .one-fifth {
        width: 220px;
    }
    .hd .offset-one-fifth,
    .dt .offset-one-fifth {
        padding-left: 240px;
    }
    .hd .two-fifths,
    .dt .two-fifths {
        width: 460px;
    }
    .hd .offset-two-fifths,
    .dt .offset-two-fifths {
        padding-left: 480px;
    }
    .hd .three-fifths,
    .dt .three-fifths {
        width: 700px;
    }
    .hd .offset-three-fifths,
    .dt .offset-three-fifths {
        padding-left: 720px;
    }
    .hd .four-fifths,
    .dt .four-fifths {
        width: 940px;
    }
    .hd .offset-four-fifths,
    .dt .offset-four-fifths {
        padding-left: 960px;
    }
    .hd .five-fifths,
    .dt .five-fifths {
        width: 1180px;
    }
}

/* ==========================================================================
   1920px / Widescreen HD and up
   ========================================================================== */

@media screen and (min-width: 1920px) {
    .hd {
        width: 1920px;
    }
    .hd .column {
        margin-left: 15px;
        margin-right: 15px;
        width: 130px;
    }
    .hd .column.alpha {
        margin-left: 0;
    }
    .hd .column.omega {
        margin-right: 0;
    }
    .hd .offset-one {
        padding-left: 160px;
    }
    .hd .two {
        width: 290px;
    }
    .hd .offset-two {
        padding-left: 320px;
    }
    .hd .three {
        width: 450px;
    }
    .hd .offset-three {
        padding-left: 480px;
    }
    .hd .four {
        width: 610px;
    }
    .hd .offset-four {
        padding-left: 640px;
    }
    .hd .five {
        width: 770px;
    }
    .hd .offset-five {
        padding-left: 800px;
    }
    .hd .six {
        width: 930px;
    }
    .hd .offset-six {
        padding-left: 960px;
    }
    .hd .seven {
        width: 1090px;
    }
    .hd .offset-seven {
        padding-left: 1120px;
    }
    .hd .eight {
        width: 1250px;
    }
    .hd .offset-eight {
        padding-left: 1280px;
    }
    .hd .nine {
        width: 1410px;
    }
    .hd .offset-nine {
        padding-left: 1440px;
    }
    .hd .ten {
        width: 1570px;
    }
    .hd .offset-ten {
        padding-left: 1600px;
    }
    .hd .eleven {
        width: 1730px;
    }
    .hd .offset-eleven {
        padding-left: 1760px;
    }
    .hd .twelve {
        width: 1890px;
    }
    .hd .one-fifth {
        width: 354px;
    }
    .hd .offset-one-fifth {
        padding-left: 384px;
    }
    .hd .two-fifths {
        width: 738px;
    }
    .hd .offset-two-fifths {
        padding-left: 768px;
    }
    .hd .three-fifths {
        width: 1122px;
    }
    .hd .offset-three-fifths {
        padding-left: 1152px;
    }
    .hd .four-fifths {
        width: 1506px;
    }
    .hd .offset-four-fifths {
        padding-left: 1536px;
    }
    .hd .five-fifths {
        width: 1890px;
    }
}
