/*! grid-responsive.css | Inherits default | https://github.com/johnsolarz/grid-system */

/*
 * Breakpoints:
 *
 *    300px  | Mobile portrait   - Single column   @ 300px
 *    480px  | Mobile landscape  - Single column   @ 460px
 *    768px  | Tablet portrait   - Sixteen columns @ 28px, 20px gutters
 *    980px  | Default grid.css  - Sixteen columns @ 40px, 20px gutters
 *    1200px | Large desktop     - Sixteen columns @ 55px, 20px gutters
 *    1920px | Widescreen HD     - Sixteen columns @ 90px, 30px gutters
 */

/* ==========================================================================
   Flexible images and media
   ========================================================================== */

img,
object,
embed,
video {
    height: auto;
    max-width: 100%;
}
/* IE 8 fix */
.lt-ie9 img,
.lt-ie9 object,
.lt-ie9 embed,
.lt-ie9 video {
    max-width: auto;
}

/* ==========================================================================
   Visibile/hidden classes
   ========================================================================== */

.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}

/* ==========================================================================
   Mobile All
   ========================================================================== */

@media (max-width: 767px) {
    .container {
        width: 300px;
    }
    .column {
        float: none;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    [class*="offset"] {
        padding-left: 0;
    }
}

/* ==========================================================================
   480px/Mobile portrait
   ========================================================================== */

 @media (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 460px;
    }
}

/* ==========================================================================
   768px/Tablet portrait
   ========================================================================== */

@media (min-width: 768px) and (max-width: 979px) {
    .container {
        width: 768px;
    }
    .column {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 28px;
    }
    .offset-one {
        padding-left: 48px;
    }
    .two {
        width: 76px;
    }
    .offset-two {
        padding-left: 96px;
    }
    .three {
        width: 124px;
    }
    .offset-three {
        padding-left: 144px;
    }
    .four {
        width: 172px;
    }
    .offset-four {
        padding-left: 192px;
    }
    .five {
        width: 220px;
    }
    .offset-five {
        padding-left: 240px;
    }
    .six {
        width: 268px;
    }
    .offset-six {
        padding-left: 288px;
    }
    .seven {
        width: 316px;
    }
    .offset-seven {
        padding-left: 336px;
    }
    .eight {
        width: 364px;
    }
    .offset-eight {
        padding-left: 384px;
    }
    .nine {
        width: 412px;
    }
    .offset-nine {
        padding-left: 432px;
    }
    .ten {
        width: 460px;
    }
    .offset-ten {
        padding-left: 480px;
    }
    .eleven {
        width: 508px;
    }
    .offset-eleven {
        padding-left: 528px;
    }
    .twelve {
        width: 556px;
    }
    .offset-twelve {
        width: 576px;
    }
    .thirteen {
        width: 604px;
    }
    .offset-thirteen {
        width: 624px;
    }
    .fourteen {
        width: 652px;
    }
    .offset-fourteen {
        width: 672px;
    }
    .fifteen {
        width: 700px;
    }
    .offset-fifteen {
        width: 720px;
    }
    .sixteen {
        width: 748px;
    }
}

/* ==========================================================================
   1200px/Desktop
   ========================================================================== */

@media (min-width: 1200px) {
    .hd,
    .dt {
        width: 1200px;
    }
    .hd .column,
    .dt .column {
        width: 55px;
    }
    .hd .offset-one,
    .dt .offset-one {
        padding-left: 75px;
    }
    .hd .two,
    .dt .two {
        width: 130px;
    }
    .hd .offset-two,
    .dt .offset-two {
        padding-left: 150px;
    }
    .hd .three,
    .dt .three {
        width: 205px;
    }
    .hd .offset-three,
    .dt .offset-three {
        padding-left: 225px;
    }
    .hd .four,
    .dt .four {
        width: 280px;
    }
    .hd .offset-four,
    .dt .offset-four {
        padding-left: 300px;
    }
    .hd .five,
    .dt .five {
        width: 355px;
    }
    .hd .offset-five,
    .dt .offset-five {
        padding-left: 375px;
    }
    .hd .six,
    .dt .six {
        width: 430px;
    }
    .hd .offset-six,
    .dt .offset-six {
        padding-left: 450px;
    }
    .hd .seven,
    .dt .seven {
        width: 505px;
    }
    .hd .offset-seven,
    .dt .offset-seven {
        padding-left: 525px;
    }
    .hd .eight,
    .dt .eight {
        width: 580px;
    }
    .hd .offset-eight,
    .dt .offset-eight {
        padding-left: 600px;
    }
    .hd .nine,
    .dt .nine {
        width: 655px;
    }
    .hd .offset-nine,
    .dt .offset-nine {
        padding-left: 675px;
    }
    .hd .ten,
    .dt .ten {
        width: 730px;
    }
    .hd .offset-ten,
    .dt .offset-ten {
        padding-left: 750px;
    }
    .hd .eleven,
    .dt .eleven {
        width: 805px;
    }
    .hd .offset-eleven,
    .dt .offset-eleven {
        padding-left: 825px;
    }
    .hd .twelve,
    .dt .twelve {
        width: 880px;
    }
    .hd .offset-twelve,
    .dt .offset-twelve {
        padding-left: 900px;
    }
    .hd .thirteen,
    .dt .thirteen {
        width: 955px;
    }
    .hd .offset-thirteen,
    .dt .offset-thirteen {
        padding-left: 975px;
    }
    .hd .fourteen,
    .dt .fourteen {
        width: 1030px;
    }
    .hd .offset-fourteen,
    .dt .offset-fourteen {
        padding-left: 1050px;
    }
    .hd .fifteen,
    .dt .fifteen {
        width: 1105px;
    }
    .hd .offset-fifteen,
    .dt .offset-fifteen {
        padding-left: 1125px;
    }
    .hd .sixteen,
    .dt .sixteen {
        width: 1180px;
    }
}

/* ==========================================================================
   1920px/Widescreen HD and up
   ========================================================================== */

@media (min-width: 1920px) {
    .hd {
        width: 1920px;
    }
    .hd .column {
        margin-left: 15px;
        margin-right: 15px;
        width: 90px;
    }
    .hd .column.alpha {
        margin-left: 0;
    }
    .hd .column.omega {
        margin-right: 0;
    }
    .hd .offset-one {
        padding-left: 120px;
    }
    .hd .two {
        width: 210px;
    }
    .hd .offset-two {
        padding-left: 240px;
    }
    .hd .three {
        width: 430px;
    }
    .hd .offset-three {
        padding-left: 360px;
    }
    .hd .four {
        width: 450px;
    }
    .hd .offset-four {
        padding-left: 480px;
    }
    .hd .five {
        width: 570px;
    }
    .hd .offset-five {
        padding-left: 600px;
    }
    .hd .six {
        width: 690px;
    }
    .hd .offset-six {
        padding-left: 720px;
    }
    .hd .seven {
        width: 810px;
    }
    .hd .offset-seven {
        padding-left: 840px;
    }
    .hd .eight {
        width: 930px;
    }
    .hd .offset-eight {
        padding-left: 960px;
    }
    .hd .nine {
        width: 1050px;
    }
    .hd .offset-nine {
        padding-left: 1080px;
    }
    .hd .ten {
        width: 1170px;
    }
    .hd .offset-ten {
        padding-left: 1200px;
    }
    .hd .eleven {
        width: 1290px;
    }
    .hd .offset-eleven {
        padding-left: 1320px;
    }
    .hd .twelve {
        width: 1410px;
    }
    .hd .offset-twelve {
        padding-left: 1440px;
    }
    .hd .thirteen {
        width: 1530px;
    }
    .hd .offset-thirteen {
        padding-left: 1560px;
    }
    .hd .fourteen {
        width: 1650px;
    }
    .hd .offset-fourteen {
        padding-left: 1680px;
    }
    .hd .fifteen {
        width: 1770px;
    }
    .hd .offset-fifteen {
        padding-left: 1800px;
    }
    .hd .sixteen {
        width: 1890px;
    }
}
