/* 
 * Fluogrid™
 * Adaptive grid layout.
 * https://github.com/johnsolarz/fluogrid
 * Copyright 2012 8/7 Central
 */


/* =============================================================================
   The Grid System
   ========================================================================== */

/*
 * Grid defines the layout area. Adjust grid/unit/margin widths per design.
 * Units are the smallest vertical measure. A column is made of a number of units.
 * Sections are horizontal divisions of content, set to baseline grid.
 */

.grid                  { margin: 0 auto; position: relative; }
.column                { display: inline; float: left; }
.section               { margin-bottom: 1.5em; }

/* Nested columns */
.column.alpha          { margin-left: 0; }
.column.omega          { margin-right: 0; }

/* Fluid media */
img, object, embed, video { height: auto; max-width: 100%; }

/* Micro clearfix hack */
.grid:before, .grid:after, .section:before, .section:after { content: ""; display: table; }
.grid:after, .section:after { clear: both; }
.grid, .section { *zoom: 1; }

/* Non-structural helper classes */
.center { text-align: center; }
.inset { padding: 1.5em; }
.full { width: 100%; }


/* =============================================================================
   Mobile first styles
   ========================================================================== */

/* 
 * 300px single column layout
 * No gutters, one unit @ 300px
 */
   
.grid                    { width: 300px; }
.column                  { margin-left: 0; margin-right: 0; }

.grid .one,
.grid .two,
.grid .three,
.grid .four,
.grid .five,
.grid .six,
.grid .seven,
.grid .eight,
.grid .nine,
.grid .ten,
.grid .eleven,
.grid .twelve,
.grid .thirteen,
.grid .fourteen,
.grid .fifteen,
.grid .sixteen           { width: 300px; }


/* =============================================================================
   Mobile landscape
   ========================================================================== */
 
@media only screen and (min-width: 480px) and (max-width: 767px) {

	/* 
	 * 420px single column layout
	 * No gutters (inherit), one unit @ 420px
	 */

	.grid                  { width: 420px; }

	.grid .one,
	.grid .two,
	.grid .three,
	.grid .four,
	.grid .five,
	.grid .six,
	.grid .seven,
	.grid .eight,
	.grid .nine,
	.grid .ten,
	.grid .eleven,
	.grid .twelve,
	.grid .thirteen,
	.grid .fourteen,
	.grid .fifteen,
	.grid .sixteen         { width: 420px; }

}


/* =============================================================================
   Tablet 
   ========================================================================== */
   
@media only screen and (min-width: 768px) { 

	/*
	 * 720px multicolumn layout
	 * Gutters @ 20px, twelve units @ 40px
	 */

	.grid                  { width: 720px; }

	.grid .one             { width: 25px;  }
	.grid .two             { width: 70px;  }
	.grid .three           { width: 115px; }
	.grid .four            { width: 160px; }
	.grid .five            { width: 205px; }
	.grid .six             { width: 250px; }
	.grid .seven           { width: 295px; }
	.grid .eight           { width: 340px; }
	.grid .nine            { width: 385px; }
	.grid .ten             { width: 430px; }
	.grid .eleven          { width: 475px; }
	.grid .twelve          { width: 520px; }
	.grid .thirteen        { width: 565px; }
	.grid .fourteen        { width: 610px; }
	.grid .fifteen         { width: 655px; }
	.grid .sixteen         { width: 700px; }

	.grid .offset-one      { padding-left: 45px;  }
	.grid .offset-two      { padding-left: 90px;  }
	.grid .offset-three    { padding-left: 135px; }
	.grid .offset-four     { padding-left: 180px; }
 	.grid .offset-five     { padding-left: 225px; }
 	.grid .offset-six      { padding-left: 270px; }
	.grid .offset-seven    { padding-left: 315px; }
	.grid .offset-eight    { padding-left: 360px; }
	.grid .offset-nine     { padding-left: 405px; }
	.grid .offset-ten      { padding-left: 450px; }
	.grid .offset-eleven   { padding-left: 495px; }
	.grid .offset-twelve   { padding-left: 540px; }
	.grid .offset-thirteen { padding-left: 585px; }
	.grid .offset-fourteen { padding-left: 630px; }
	.grid .offset-fifteen  { padding-left: 675px; }

	.grid .push-one        { position: relative; left: 45px;  }
	.grid .push-two        { position: relative; left: 90px;  }
	.grid .push-three      { position: relative; left: 135px; }
	.grid .push-four       { position: relative; left: 180px; }
 	.grid .push-five       { position: relative; left: 225px; }
 	.grid .push-six        { position: relative; left: 270px; }
	.grid .push-seven      { position: relative; left: 315px; }
	.grid .push-eight      { position: relative; left: 360px; }
	.grid .push-nine       { position: relative; left: 405px; }
	.grid .push-ten        { position: relative; left: 450px; }
	.grid .push-eleven     { position: relative; left: 495px; }
	.grid .push-twelve     { position: relative; left: 540px; }
	.grid .push-thirteen   { position: relative; left: 585px; }
	.grid .push-fourteen   { position: relative; left: 630px; }
	.grid .push-fifteen    { position: relative; left: 675px; }

	.grid .pull-one        { position: relative; left: -45px;  }
	.grid .pull-two        { position: relative; left: -90px;  }
	.grid .pull-three      { position: relative; left: -135px; }
	.grid .pull-four       { position: relative; left: -180px; }
 	.grid .pull-five       { position: relative; left: -225px; }
 	.grid .pull-six        { position: relative; left: -270px; }
	.grid .pull-seven      { position: relative; left: -315px; }
	.grid .pull-eight      { position: relative; left: -360px; }
	.grid .pull-nine       { position: relative; left: -405px; }
	.grid .pull-ten        { position: relative; left: -450px; }
	.grid .pull-eleven     { position: relative; left: -495px; }
	.grid .pull-twelve     { position: relative; left: -540px; }
	.grid .pull-thirteen   { position: relative; left: -585px; }
	.grid .pull-fourteen   { position: relative; left: -630px; }
	.grid .pull-fifteen    { position: relative; left: -675px; }

}


/* =============================================================================
   Landscape Tablet/Laptop
   ========================================================================== */

@media only screen and (min-width: 1024px) {

	/*
	 * 960px multicolumn layout
	 * Gutters @ 20px (inherit), twelve units @ 60px
	 */

	.grid                  { width: 960px; }

	.grid .one             { width: 40px;  }
	.grid .two             { width: 100px; }
	.grid .three           { width: 160px; }
	.grid .four            { width: 220px; }
	.grid .five            { width: 280px; }
	.grid .six             { width: 340px; }
	.grid .seven           { width: 400px; }
	.grid .eight           { width: 460px; }
	.grid .nine            { width: 520px; }
	.grid .ten             { width: 580px; }
	.grid .eleven          { width: 640px; }
	.grid .twelve          { width: 700px; }
	.grid .thirteen        { width: 760px; }
	.grid .fourteen        { width: 820px; }
	.grid .fifteen         { width: 880px; }
	.grid .sixteen         { width: 940px; }

	.grid .offset-one      { padding-left: 60px;  }
	.grid .offset-two      { padding-left: 120px; }
	.grid .offset-three    { padding-left: 180px; }
	.grid .offset-four     { padding-left: 240px; }
	.grid .offset-five     { padding-left: 300px; }
	.grid .offset-six      { padding-left: 360px; }
	.grid .offset-seven    { padding-left: 420px; }
	.grid .offset-eight    { padding-left: 480px; }
	.grid .offset-nine     { padding-left: 540px; }
	.grid .offset-ten      { padding-left: 600px; }
	.grid .offset-eleven   { padding-left: 660px; }
	.grid .offset-twelve   { padding-left: 720px; }
	.grid .offset-thirteen { padding-left: 780px; }
	.grid .offset-fourteen { padding-left: 840px; }
	.grid .offset-fifteen  { padding-left: 900px; }

	.grid .push-one        { left: 60px;  }
	.grid .push-two        { left: 120px; }
	.grid .push-three      { left: 180px; }
	.grid .push-four       { left: 240px; }
	.grid .push-five       { left: 300px; }
	.grid .push-six        { left: 360px; }
	.grid .push-seven      { left: 420px; }
	.grid .push-eight      { left: 480px; }
	.grid .push-nine       { left: 540px; }
	.grid .push-ten        { left: 600px; }
	.grid .push-eleven     { left: 660px; }
	.grid .push-twelve     { left: 720px; }
	.grid .push-thirteen   { left: 780px; }
	.grid .push-fourteen   { left: 840px; }
	.grid .push-fifteen    { left: 900px; }

	.grid .pull-one        { left: -60px;  }
	.grid .pull-two        { left: -120px; }
	.grid .pull-three      { left: -180px; }
	.grid .pull-four       { left: -240px; }
	.grid .pull-five       { left: -300px; }
	.grid .pull-six        { left: -360px; }
	.grid .pull-seven      { left: -420px; }
	.grid .pull-eight      { left: -480px; }
	.grid .pull-nine       { left: -540px; }
	.grid .pull-ten        { left: -600px; }
	.grid .pull-eleven     { left: -660px; }
	.grid .pull-twelve     { left: -720px; }
	.grid .pull-thirteen   { left: -780px; }
	.grid .pull-fourteen   { left: -840px; }
	.grid .pull-fifteen    { left: -900px; }

}


/* =============================================================================
   Desktop
   ========================================================================== */

@media only screen and (min-width: 1280px) {


}


/* =============================================================================
   Widescreen
   ========================================================================== */

@media only screen and (min-width: 1400px) {


}