/* 
 * Fluogrid™
 * Responsive fixed-width layout with a twelve unit grid.
 * https://github.com/johnsolarz/fluogrid
 * Copyright 2012 8/7 Central
 */


/* =============================================================================
   The Grid System
   ========================================================================== */

/*
 * Grid defines the layout area. Modify widths inside media quieries as required.
 * Columns are made up of a number of units, margins define gutters widths.
 * Rows are horizontal divisions of similar content and self-clearing.
 */

.grid { margin: 0 auto; position: relative; }
.column { display: inline; float: left; margin-left: 10px; margin-right: 10px; }
.row { margin-bottom: 1.5em; }

/* Nested columns */
.alpha { margin-left: 0; }
.omega { margin-right: 0; }

/* Push pull repositioning */
.push-one,    .pull-one,    .push-two,    .pull-two,
.push-three,  .pull-three,  .push-four,   .pull-four,
.push-five,   .pull-five,   .push-six,    .pull-six,
.push-seven,  .pull-seven,  .push-eight,  .pull-eight,
.push-nine,   .pull-nine,   .push-ten,    .pull-ten,
.push-eleven, .pull-eleven, .push-twelve, .pull-twelve { position: relative; }

/* Fluid media */
img, object, embed, video { height: auto; max-width: 100%;	_width: 100%; }

/* Micro clearfix hack */
.grid:before, .grid:after, .row:before, .row:after { content: ""; display: table; }
.grid:after, .row:after { clear: both; }
.grid, .row { *zoom: 1; }

/* Non-structural helper classes */
.center { text-align: center; }
.inset { padding: 1.5em; }
.full { width: 100%; }


/* =============================================================================
   Mobile
   ========================================================================== */
 
@media only screen and (max-width: 767px) {

	/* 
	 * Style adjustments for 300px layouts
	 * One column, no gutters
	 */

	.grid                  { width: 300px; }
	.column                { margin-left: 0; margin-right: 0; }

	.grid .one,
	.grid .two,
	.grid .three,
	.grid .four,
	.grid .five,
	.grid .six,
	.grid .seven,
	.grid .eight,
	.grid .nine,
	.grid .ten,
	.grid .eleven,
	.grid .twelve          { width: 300px; }

}


/* =============================================================================
   Mobile landscape
   ========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	/* 
	 * Style adjustments for 480px layouts
	 * One column, no gutters
	 */
 
	.grid                  { width: 420px; }
	.column                { margin-left: 0; margin-right: 0; }

	.grid .one,
	.grid .two,
	.grid .three,
	.grid .four,
	.grid .five,
	.grid .six,
	.grid .seven,
	.grid .eight,
	.grid .nine,
	.grid .ten,
	.grid .eleven,
	.grid .twelve          { width: 420px; }

}


/* =============================================================================
   Tablet 
   ========================================================================== */

@media only screen and (min-width: 768px) { 

	/*
	 * Style adjustments for 720px layouts
	 * Twelve 60px units, 20px gutters
	 */

	.grid                  { width: 720px; }

	.grid .one             { width: 40px;  }
	.grid .two             { width: 100px; }
	.grid .three           { width: 160px; }
	.grid .four            { width: 220px; }
	.grid .five            { width: 280px; }
	.grid .six             { width: 340px; }
	.grid .seven           { width: 400px; }
	.grid .eight           { width: 460px; }
	.grid .nine            { width: 520px; }
	.grid .ten             { width: 580px; }
	.grid .eleven          { width: 640px; }
	.grid .twelve          { width: 700px; }

	.grid .offset-one      { padding-left: 60px;  }
	.grid .offset-two      { padding-left: 120px; }
	.grid .offset-three    { padding-left: 180px; }
	.grid .offset-four     { padding-left: 240px; }
 	.grid .offset-five     { padding-left: 300px; }
 	.grid .offset-six      { padding-left: 360px; }
	.grid .offset-seven    { padding-left: 420px; }
	.grid .offset-eight    { padding-left: 480px; }
	.grid .offset-nine     { padding-left: 540px; }
	.grid .offset-ten      { padding-left: 600px; }
	.grid .offset-eleven   { padding-left: 660px; }

	.grid .push-one        { left: 60px;  }
	.grid .push-two        { left: 120px; }
	.grid .push-three      { left: 180px; }
	.grid .push-four       { left: 240px; }
	.grid .push-five       { left: 300px; }
	.grid .push-six        { left: 360px; }
	.grid .push-seven      { left: 420px; }
	.grid .push-eight      { left: 480px; }
	.grid .push-nine       { left: 540px; }
	.grid .push-ten        { left: 600px; }
	.grid .push-eleven     { left: 660px; }

	.grid .pull-one        { left: -60px;  }
	.grid .pull-two        { left: -120px; }
	.grid .pull-three      { left: -180px; }
	.grid .pull-four       { left: -240px; }
	.grid .pull-five       { left: -300px; }
	.grid .pull-six        { left: -360px; }
	.grid .pull-seven      { left: -420px; }
	.grid .pull-eight      { left: -480px; }
	.grid .pull-nine       { left: -540px; }
	.grid .pull-ten        { left: -600px; }
	.grid .pull-eleven     { left: -660px; }

}


/* =============================================================================
   Landscape Tablet/Laptop
   ========================================================================== */

@media only screen and (min-width: 1024px) {

	/*
	 * Style adjustments for 960px layouts
	 * Twelve 60px units, 20px gutters
	 */

	.grid                  { width: 960px; }

	.grid .one             { width: 60px;  }
	.grid .two             { width: 140px; }
	.grid .three           { width: 220px; }
	.grid .four            { width: 300px; }
	.grid .five            { width: 380px; }
	.grid .six             { width: 460px; }
	.grid .seven           { width: 540px; }
	.grid .eight           { width: 620px; }
	.grid .nine            { width: 700px; }
	.grid .ten             { width: 780px; }
	.grid .eleven          { width: 860px; }
	.grid .twelve          { width: 940px; }

	.grid .offset-one      { padding-left: 80px;  }
	.grid .offset-two      { padding-left: 160px; }
	.grid .offset-three    { padding-left: 240px; }
	.grid .offset-four     { padding-left: 320px; }
	.grid .offset-five     { padding-left: 400px; }
	.grid .offset-six      { padding-left: 480px; }
	.grid .offset-seven    { padding-left: 560px; }
	.grid .offset-eight    { padding-left: 640px; }
	.grid .offset-nine     { padding-left: 720px; }
	.grid .offset-ten      { padding-left: 800px; }
	.grid .offset-eleven   { padding-left: 880px; }

	.grid .push-one        { left: 80px;  }
	.grid .push-two        { left: 160px; }
	.grid .push-three      { left: 240px; }
	.grid .push-four       { left: 320px; }
	.grid .push-five       { left: 400px; }
	.grid .push-six        { left: 480px; }
	.grid .push-seven      { left: 560px; }
	.grid .push-eight      { left: 640px; }
	.grid .push-nine       { left: 720px; }
	.grid .push-ten        { left: 800px; }
	.grid .push-eleven     { left: 880px; }

	.grid .pull-one        { left: -80px;  }
	.grid .pull-two        { left: -160px; }
	.grid .pull-three      { left: -240px; }
	.grid .pull-four       { left: -320px; }
	.grid .pull-five       { left: -400px; }
	.grid .pull-six        { left: -480px; }
	.grid .pull-seven      { left: -560px; }
	.grid .pull-eight      { left: -640px; }
	.grid .pull-nine       { left: -720px; }
	.grid .pull-ten        { left: -800px; }
	.grid .pull-eleven     { left: -880px; }

}


/* =============================================================================
   Desktop
   ========================================================================== */

@media only screen and (min-width: 1280px) {

	/* Style adjustments for desktop layouts */

}


/* =============================================================================
   Widescreen
   ========================================================================== */

@media only screen and (min-width: 1400px) {

	/* Style adjustments for widescreen layouts */

}

