/* 
 * Fluogrid™
 * Static twelve unit grid.
 * https://github.com/johnsolarz/fluogrid
 * Copyright 2012 8/7 Central
 */


/* =============================================================================
   The Grid System
   ========================================================================== */

/*
 * Grid defines the layout area.
 * A column is made of a number of units.
 * Rows are horizontal divisions of similar ontent.
 */

.grid {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.column {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    margin-bottom: 1.5em;
}

/* 
 * Nested columns 
 */

.column.alpha {
    margin-left: 0;
}

.column.omega {
    margin-right: 0;
}

/* 
 * Column positioning 
 */
 
[class*="push"],
[class*="pull"] {
    position: relative;
}

/*
 * Fluid media 
 */

img,
object,
embed,
video {
    height: auto;
    max-width: 100%;
}

/* 
 * Micro clearfix hack
 */

.grid:before,
.grid:after,
.section:before,
.section:after {
    content: "";
    display: table;
}

.grid:after,
.section:after {
    clear: both;
}

.grid,
.section {
    *zoom: 1;
}

/* 
 * Helper classes 
 */

.center {
    text-align: center;
}

.inset {
    padding: 1.5em;
}

.full {
    width: 100%;
}


/*
 * Units: 60px wide, 20px gutters
 */

.one {
    width: 60px;
}
.two {
    width: 140px;
}
.three {
    width: 220px;
}
.four {
    width: 300px;
}
.five {
    width: 380px;
}
.six {
    width: 460px;
}
.seven {
    width: 540px;
}
.eight {
    width: 620px;
}
.nine {
    width: 700px;
}
.ten {
    width: 780px;
}
.eleven {
    width: 860px;
}
.twelve {
    width: 940px;
}

/* 
 * Offset layout 
 */

.pad-one {
    padding-left: 80px;
}
.pad-two {
    padding-left: 160px;
}
.pad-three {
    padding-left: 240px;
}
.pad-four {
    padding-left: 320px
}
.pad-five {
    padding-left: 400px;
}
.pad-six {
    padding-left: 480px;
}
.pad-seven {
    padding-left: 560px;
}
.pad-eight {
    padding-left: 640px;
}
.pad-nine {
    padding-left: 720px;
}
.pad-ten {
    padding-left: 800px;
}
.pad-eleven {
    padding-left: 880px;
}

/* 
 * Push layout 
 */

.push-one {
    left: 80px;
}
.push-two {
    left: 160px;
}
.push-three {
    left: 240px;
}
.push-four {
    left: 320px;
}
.push-five {
    left: 400px;
}
.push-six {
    left: 480px;
}
.push-seven {
    left: 560px;
}
.push-eight {
    left: 640px;
}
.push-nine {
    left: 720px;
}
.push-ten {
    left: 800px;
}
.push-eleven {
    left: 880px;
}

/* 
 * Pull layout 
 */

.pull-one {
    left: -80px;
}
.pull-two {
    left: -160px;
}
.pull-three {
    left: -240px;
}
.pull-four {
    left: -320px;
}
.pull-five {
    left: -400px;
}
.pull-six {
    left: -480px;
}
.pull-seven {
    left: -560px;
}
.pull-eight {
    left: -640px;
}
.pull-nine {
    left: -720px;
}
.pull-ten {
    left: -800px;
}
.pull-eleven {
    left: -880px;
}
