/* 
 * Fluogrid™ Twelve
 * Fixed grid layout.
 * https://github.com/johnsolarz/fluogrid
 * Copyright 2012 8/7 Central
 */


/* =============================================================================
   The Grid System
   ========================================================================== */

/*
 * Grid defines the layout area. Adjust grid/unit/margin widths per design.
 * Units are the smallest vertical measure. A column is made of a number of units.
 * Sections are horizontal divisions of content, set to baseline grid.
 */

.grid                  { margin: 0 auto; position: relative; width: 960px; }
.column                { display: inline; float: left; margin-left: 10px; margin-right: 10px; }
.section               { margin-bottom: 1.5em; }

/* Nested columns */
.column.alpha          { margin-left: 0; }
.column.omega          { margin-right: 0; }

/* Micro clearfix hack */
.grid:before, .grid:after, .section:before, .section:after { content: ""; display: table; }
.grid:after, .section:after { clear: both; }
.grid, .section { *zoom: 1; }

/* Non-structural helper classes */
.center { text-align: center; }
.inset { padding: 1.5em; }
.full { width: 100%; }

/* Unit widths */
.grid .one             { width: 44px;  }
.grid .two             { width: 108px; }
.grid .three           { width: 172px; }
.grid .four            { width: 236px; }
.grid .five            { width: 300px; }
.grid .six             { width: 364px; }
.grid .seven           { width: 428px; }
.grid .eight           { width: 492px; }
.grid .nine            { width: 556px; }
.grid .ten             { width: 620px; }
.grid .eleven          { width: 684px; }
.grid .twelve          { width: 748px; }
.grid .thirteen        { width: 812px; }
.grid .fourteen        { width: 876px; }
.grid .fifteen         { width: 940px; }

/* Offset space */
.grid .offset-one      { padding-left: 64px;  }
.grid .offset-two      { padding-left: 128px; }
.grid .offset-three    { padding-left: 192px; }
.grid .offset-four     { padding-left: 256px; }
.grid .offset-five     { padding-left: 320px; }
.grid .offset-six      { padding-left: 384px; }
.grid .offset-seven    { padding-left: 448px; }
.grid .offset-eight    { padding-left: 512px; }
.grid .offset-nine     { padding-left: 576px; }
.grid .offset-ten      { padding-left: 640px; }
.grid .offset-eleven   { padding-left: 704px; }
.grid .offset-twelve   { padding-left: 768px; }
.grid .offset-thirteen { padding-left: 832px; }
.grid .offset-fourteen { padding-left: 896px; }

/* Push columns */
.grid .push-one        { position: relative; left: 64px;  }
.grid .push-two        { position: relative; left: 128px; }
.grid .push-three      { position: relative; left: 192px; }
.grid .push-four       { position: relative; left: 256px; }
.grid .push-five       { position: relative; left: 320px; }
.grid .push-six        { position: relative; left: 384px; }
.grid .push-seven      { position: relative; left: 448px; }
.grid .push-eight      { position: relative; left: 512px; }
.grid .push-nine       { position: relative; left: 576px; }
.grid .push-ten        { position: relative; left: 640px; }
.grid .push-eleven     { position: relative; left: 704px; }
.grid .push-twelve     { position: relative; left: 768px; }
.grid .push-thirteen   { position: relative; left: 832px; }
.grid .push-fourteen   { position: relative; left: 896px; }

/* Pull columns */
.grid .push-one        { position: relative; left: -64px;  }
.grid .push-two        { position: relative; left: -128px; }
.grid .push-three      { position: relative; left: -192px; }
.grid .push-four       { position: relative; left: -256px; }
.grid .push-five       { position: relative; left: -320px; }
.grid .push-six        { position: relative; left: -384px; }
.grid .push-seven      { position: relative; left: -448px; }
.grid .push-eight      { position: relative; left: -512px; }
.grid .push-nine       { position: relative; left: -576px; }
.grid .push-ten        { position: relative; left: -640px; }
.grid .push-eleven     { position: relative; left: -704px; }
.grid .push-twelve     { position: relative; left: -768px; }
.grid .push-thirteen   { position: relative; left: -832px; }
.grid .push-fourteen   { position: relative; left: -896px; }